<?xml version="1.0" encoding="utf-8" ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
	<title>En webbserie om en ung diktator, av gänget bakom Knappnytt - All makt i sverige</title>
	
	
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.1/build/reset/reset-min.css" />	
	<link rel="stylesheet" type="text/css" href="/styles/allmaktisverige.css" />
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" type="text/javascript"></script> 
	
	<link rel="canonical" href="http://allmaktisverige.se/" />

	
	<!-- Proper embedding on FB if sharing.-->
	<meta name="medium" content="video" />
	<meta name="video_width" content="560" />
	<meta name="video_height" content="340" />
	<meta name="video_type" content="application/x-shockwave-flash" />
	<link rel="video_src" href="http://www.youtube.com/v/voqXQnYLGnE&hl=en&fs=1" />
	
	<!-- OpenGraph stuff -->
	<meta property="fb:app_id" content="132860020070788"/>
	<meta property="fb:admins" content="640798226,622677999,739061042,622387153" />
	<meta property="og:title" content="All makt i Sverige"/>
	<meta property="og:type" content="tv_show"/>
	<meta property="og:image" content="http://allmaktisverige.se/images/opengraph.jpg"/>
	
	<meta property="og:country-name" content="Sweden"/>
 	<meta property="og:description" content="All Makt i Sverige är en webbserie som utspelas i en alternativ nutid där Sverige leds av en alldeles för ung diktator." />
	<meta name="description" content="All Makt i Sverige är en webbserie som utspelas i en alternativ nutid där Sverige leds av en alldeles för ung diktator." />

	
	<!-- Google Analytics -->
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-125505-21']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</head>

<body>


<div id="container">

	<div id="header">
		<h2>Knappnytt-gänget producerar humor åt SVT - släpps hösten 2010!</h2>
		<h1>All makt i Sverige</h1>
		<div id="mainquote" class="quote">&quot;Det är fanimej inte alltid så lätt att vara ung diktator!&quot;</div>
	</div>
	
	<div id="facebook_like_button">	
		<fb:like href="http://allmaktisverige.se/" width="425" font="lucida grande"></fb:like>
	</div>

	<div id="teaser">
		<object width="560" height="340">
			<param name="movie" value="http://www.youtube.com/v/voqXQnYLGnE&amp;hl=sv_SE&amp;fs=1&amp;rel=0&amp;color1=0x2b405b&amp;color2=0x6b8ab6&amp;hd=1"></param>
			<param name="allowFullScreen" value="true"></param>
			<param name="allowscriptaccess" value="always"></param>
			<embed src="http://www.youtube.com/v/voqXQnYLGnE&amp;hl=sv_SE&amp;fs=1&amp;rel=0&amp;color1=0x2b405b&amp;color2=0x6b8ab6&amp;hd=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="560" height="340"></embed>
		</object>
	</div>
	
	
	
	
	<div id="main">
		<h3>Hur skulle det se ut om Sverige var världens Nordkorea?</h3>
		<p>Tänk om vi inte alls var internationellt kända för smörgåsbord och IKEA, utan istället var ett land som leddes med järnhand av en diktator som hela tiden hotar finland med kärnvapen?</p>
		<div style="clear:both"><br /></div>
		<p>All Makt i Sverige utspelas i en alternativ nutid där Sverige leds av en alldeles för ung envåldsdiktator. Diktatorn, har haft en väldigt skyddad uppväxt och fick ta över posten från sin far vid alldeles för tidig ålder. Han är överlag en ganska kass härskare. Detta beror på mycket på hans låga ålder, och brist på ödmjukhet och realism, men han har i grunden ett gott hjärta och älskar sitt land, sitt folk och husmanskost.</p>
	</div>
	
	
	<div id="encouragement">
		<fb:comments xid="http%3A%2F%2Fallmaktisverige.se" css="http://<%= @authority %>/styles/facebook.css?5" numposts="25" width="650"></fb:comments>
		<!--<img src="/images/diktator_stjarna.png" alt="Följ er diktator!" class="star" />Håll koll på när första avsnitten släpps, följ förproduktionen, och snacka med oss:
		<p>Följ <a href="http://www.facebook.com/pages/All-makt-i-Sverige/133076926713441">All makt i Sverige på Facebook</a>!</p>-->
	</div>
	


</div>

<div id="fb-root"></div>
<script>
$(document).ready(function() {
 
  // Facebook
  window.fbAsyncInit = function() {
    FB.init({appId: '132860020070788', status: true, cookie: true, xfbml: true});
	FB.Event.subscribe('edge.create', function(href, widget) {
		// Tell Google Analytics that we had a like!
		_gaq.push(['_trackEvent', 'FacebookLikes', 'Root', 'Like of Root Page']);
	});

  };
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/sv_SE/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());
  
  // Google Analytics
  var pageTracker = _gat._getTracker('UA-125505-21');
  pageTracker._trackPageview();
});
</script>

</body>
</html>