<?xml version ="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<title>En webbserie om en ung diktator, av gänget bakom Knappnytt - All makt i sverige</title>
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.1/build/reset/reset-min.css">
	
	<meta property="og:title" content="All makt i Sverige"/>
	<!--<meta property="og:site_name" content="IMDb"/>-->
	<!--<meta property="og:image" content="http://ia.media-imdb.com/rock.jpg"/>-->

	<style>
	html { 
		background-color: #00253C; 
		background-image: url(/images/diktator-bg.jpg); 
		background-repeat: no-repeat; 
		background-position: top left; 
		font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	
	#container  { position: absolute; left: 35px; top: 25px; }

	#header { position: absolute; left: 100px; top: 80px; width: 700px;}
	
	#header h1 {
		font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
		text-transform: uppercase;
		color: yellow;
		font-size: 85px;
		text-shadow: 2px 2px 2px #000;
	}
	
	#header h2 { 
		font-size: 18px; 
		font-weight: bold; 
		color: white; text-shadow: 1px 1px 1px #000;
		
		position: relative; top: 110px;
	}	
	
	#facebook_like_button { position: absolute; left: 100px; top: 225px }
	
	#main {
		position: absolute;
		left: 100px;
		top: 345px;
		width: 320px;
		color: white;
		
		
	}
	#main h3 { color: white; font-size: 22px; }
	

	.quote { 
		color: white;  
		font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif; 
	}
	
	#mainquote {
		position: relative; left: 180px; top: -125px;
		width: 700px;
		font-size: 28px; 
		text-shadow: 1px 1px 1px #000;
	}
	
	#teaser { position: absolute; left: 500px; top: 335px;}

	#encouragement { position: absolute; left: 100px; top: 700px; width: 800px; color: white; font-size: 20px;}
	#encouragement img.star {  float:left; margin-right: 15px; position: relative; top: -7px; }
	#encouragement a {  color: yellow}
	
	</style>

<body>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({appId: '132860020070788', status: true, cookie: true, xfbml: true});
  };
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());
</script>

<div id="container">

	<div id="header">
		<h2>Knappnytt-gänget producerar humor åt SVT - släpps hösten 2010!</h2>
		<h1>Allt makt i Sverige</h1>
		<div id="mainquote" class="quote">&quot;Det är fanimej inte alltid så lätt att vara ung diktator!&quot;</div>
	</div>
	
	<div id="facebook_like_button">	
		<fb:like href="http://allmaktisverige.se" font="lucida grande"></fb:like>
	</div>

	<div id="teaser">
		<object width="560" height="340"><param name="movie" value="http://www.youtube.com/v/voqXQnYLGnE&hl=sv_SE&fs=1&rel=0&color1=0x2b405b&color2=0x6b8ab6&hd=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/voqXQnYLGnE&hl=sv_SE&fs=1&rel=0&color1=0x2b405b&color2=0x6b8ab6&hd=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="560" height="340"></embed></object>
	</div>
	
	
	
	<div id="main">
		<h3>Hur skulle det se ut om Sverige var världens Nordkorea?</h3>
		<p>Tänk om vi inte alls var internationellt kända för smörgåsbord och IKEA, utan istället var ett land som leddes med järnhand av en diktator som hela tiden hotar finland med kärnvapen?</p>
		<div style="clear:both"><br /></div>
		<p>All Makt i Sverige utspelas i en alternativ nutid där Sverige leds av en alldeles för ung envåldsdiktator. Diktatorn, har haft en väldigt skyddad uppväxt och fick ta över posten från sin far vid alldeles för tidig ålder. Han är överlag en ganska kass härskare. Detta beror på mycket på hans låga ålder, och brist på ödmjukhet och realism, men han har i grunden ett gott hjärta och älskar sitt land, sitt folk och husmanskost.</p>
	</div>
	
	
	<div id="encouragement">
		<img src="/images/diktator_stjarna.png" alt="Följ er diktator!" class="star" />Håll koll på när första avsnitten släpps, följ förproduktionen, och snacka med oss:
		<p>Följ <a href="http://www.facebook.com/pages/All-makt-i-Sverige/133076926713441">All makt i Sverige på Facebook</a>!</p>
	</div>
	


</div>


</body>
</html>