/* Css for facebook widgets */
div.like {
    display:none;
}

div.wallkit_postcontent {
	color: white;
}

.connect_widget_connected_text {
	color: white;
}

.post_counter { color: white; }
.uiLinkSubtle { color: #3B5998; }
